.banner-top {
	height: 100vh;
	text-shadow: .1rem .1rem 0 black;
}

.banner-top:before {
	background: url('../imagenes/header.jpeg') center center no-repeat / cover;
	content: '';
	height: 100%;
	left: 0;
	mix-blend-mode: multiply;
	position: absolute;
	top: 0;
	width: 100%;
}


.fab {
	font-size: 3rem;
	height: 4.5rem;
	width: 4.5rem;
}

.portfolio-link {
	max-height: 22.5rem;
	overflow: hidden;
	transition: all .5s;
}

.portfolio-link:hover {
	background-color: #17A2B8;
	transform: scale(.9);
}

.portfolio-link:hover > figure > img {
	mix-blend-mode: multiply;
}
.portfolio-link:hover > figure > .caption {
	height: 100%;
	transition: all .5s;
}

.caption {
	background-color: rgba(0,0,0, .75);
	height: 3rem;
}